{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul style="" class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}"> < </a></li>
      {% endif %}
      {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{page}}{% if search_query %}&search={{ search_query }}{% endif %}">{{page}}</a></li>
        {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
            <li class="page-item"><a class="page-link" href="?page={{page}}{% if search_query %}&search={{ search_query }}{% endif %}">{{page}}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}{% if search_query %}&search={{ search_query }}{% endif %}"> > </a></li>
      {% endif %}
    </ul>
</nav>
{% endif %}