<!DOCTYPE html>
{% load static %}


<html lang="" class="h-100">
<head>
    <title>{% block title %}Milky Way{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" href="{% static 'img/favicon/favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'img/favicon/favicon-a.png' %}">
    <script src="https://kit.fontawesome.com/5cb1663449.js" crossorigin="anonymous"></script>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

<!-- jQuery -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

  {% block head_scripts %}

  {% endblock %}

</head>

<body class="d-flex {% if request.path != '/login_page' and request.path != '/login' %}flex-column{% else %}align-items-center{% endif %} h-100">
    <div class="container flex-shrink-0">
        {% if request.path != '/login_page' and request.path != '/login' %}
            {% include 'inc/_header.html' %}
        {% endif %}
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                  {{ message|safe }}
              </div>
          {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}



    </div>
    {% if request.path != '/login_page' and request.path != '/login' %}
        {% include 'inc/_footer.html' %}
    {% endif %}
    {% block customjs %}

    {% endblock %}

    <script src="{% static 'js/phonemask.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{% static 'js/changephonemask.js' %}"></script>

</body>
</html>
