{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Удаление сотрудника{% endblock %}

{% block content %}
<div class="text-center">
  <h1>Удалить сотрудника</h1>
</div>
<form method="post">
  {% csrf_token %}
  <p>Вы действительно хотите удалить "{{ object }}"?</p>
    {{ form|crispy }}
    <a type=button value="Previous Page" onClick="javascript:history.go(-1);" class="btn btn-primary">Назад</a>
    <button type="submit" class="btn btn-primary">Да</button>
</form>
{% endblock %}